body {
    background-color: #121212;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
  }
  .cart-container {
    padding: 60px 20px 20px 20px;
  }
  .cart-item {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  .cart-item img {
    height: 280px;
    width: 400px;
  }
  .item-title {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 14px;
    color: #ccc;
  }
  .price {
    font-weight: bold;
    font-size: 18px;
  }
  .original-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
  }
  .qty-btn {
    width: 30px;
    height: 30px;
    background: #2c2c2c;
    color: #fff;
    border: none;
  }
  .summary-box {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
  }
  .checkout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
  }
  .footer {
    color: #fff;
    background-color: #46434341;
    padding: 20px 0;
  }
  .footer-section .tech {
   text-align: left;
  }
  .footer-section p{
   text-align: left;
  }
    .footer-top {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
  
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 5px;
    text-align: right;
    
  }
  
  .footer-section ul li a {
    color: #fff;
    text-decoration: linen;
    font-size: 12px;
  }
  
  .email-subscription {
    display: flex;
    gap: 15px;
    margin-top: 5px;
  }
  
  .email-subscription input {
    flex: 1;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .email-subscription button {
    padding: 5px 5px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .email-subscription button:hover {
    background-color: darkred;
  }
 
  .sanjay {
      background-color: #0b0a0a;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
       font-family: "FontAwesome";
  }
  
  .sanjay .text {
      text-align: left;
  }
  
  .sanjay .social-icons {
      display: flex;
      gap: 15px;
  }
  
  .social-icons a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
      color: #d10f0f;  
  }
  